<%= link_to(@note, remote: true) do %>
	<div class="note-holder"  id="<%= 'notepreview' + @note.id.to_s %>">
		<% if !@note.images.empty? %>
			<div class="note-image">
				<% @note.images.each do |image| %>
				<%= image_tag image.pic.url(:medium) %>
				<% end %>
			</div>
		<% end %>

			<div class="note">
				<%= @note.desc %>
			</div>
		</div>
<% end %>
