<%= link_to(@note, class: "col-md-3 col-sm-4 col-xs-12 note-holder", remote: true) do %>
	<% if !@note.images.empty? %>
    <div class="note-image">
			<% @note.images.each do |image| %>
				<%= image_tag image.pic.url(:medium) %>
			<% end %>
		</div>
	<% end %>
	<div class="note">
		<%= @note.desc %>
	</div>
<% end %>