console.log('adding comment');
var note_id = <%= @comment.note_id %>
var content = "<ul>\
      <li class='comment'> <%= @comment.desc %> - <%= @comment.user.name %> </li>\
    </ul>"
$('.show_note[data-noteid="' + note_id + '"]').find('.comments-box').prepend(content);
$('.comment-text').val('');