<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="home-modal-title">You're Awesome</h1>
        <h3>Take 30 seconds and write a short note.</h3>
        <br>
        <p>Your note stays anonymous. <br>So you can write whatever you want. Just write what comes to your mind first.</p>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="note-form">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name='note' maxlength="250" placeholder="I'm grateful for..."></textarea>
                        </div>
                    </form>
                    <ul>
                    <li><a href=""><i class="fa fa-picture-o">&nbsp;Add Photo</i></a></li>
                    <li class="num-chars ">250</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>