<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title text-center" id="home-modal-title">May the <font color='red'>f*</font>orce be with you, my friend.</h1>
        <h3 class='text-center'>Take 30 seconds and write a thank you note.</h3>
        <br>
        <p class='text-center'>Your note stays anonymous. <br><font size='5px'>So you can write whatever you want. <font><br><font size='6px'>Just write what comes to your mind first. <font><br> <font size='12px'>Yeah, but <u><font color='red'>what?</font></u></font></p>
        <div class="modal-body">
            <div class="container">
                <div class="col-sm-12 text-center">
                    <form class='note-form'>
                        <div class="form-group">
                            <textarea class="form-control create" rows="3" name='note' maxlength="250" placeholder="I wanna thank..., because..."></textarea>
                        </div>
                    </form>
                    <a href=""><i class="fa fa-picture-o">&nbsp;Add Photo</i></a>
                    <div class="num-chars">250</div>
                </div>
                <center><button class='btn cta create'>Graddy. Done!</button></center>
            </div>
        </div>
    </div>
</div>
</div>
</div>