<div class="modal fade" id="home-modal" tabindex="-1" role="dialog" aria-labelledby="homeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="home-modal-title">Project Gratitude</h1>
        <h3>Because life is a <font color='red'>f*</font> miracle.</h2>
            <div class="modal-body">
                <div class='container'>
                    <div class="row">
                        <div class='col-sm-6 main-modal'>
                            <h2>Our Mission</h2>
                            <p>We want Gratitude to become a positive force in the world.</p>
                            <p>Instead of taking things for granted, let’s open our eyes and see the hidden gifts of life.</p>
                            <p> Lets unlock the Gratitude that we keep in our hearts and share it with the world.</p>
                        </div>
                        <div class='col-sm-6 main-modal'>
                            <div class='counter pull-right'>
                                <div class='num-notes'>
                                    <div> <font size='24px'> 638,334 </font> graddy's sent. </div>
                                </div>
                                <div class='time-left'>
                                    Ends in: 12 days : 6 hours
                                </div>
                            </div>
                            <h2>What you can do now</h2>
                            <p>On January 1, 2015 we need to release at least 1 million Graddy’s into the world. <font size='3px'>If not, Kharma strikes back!!!</font> </p>
                            <p><u><font color='red'>Graddy’s are anonymous thank you notes to the hidden gifts in life </font></u>- the pullover that keeps you warm, the sun in your face, a stranger who helped you out, ...</p>
                        </div>
                    </div>
                    <div class='col-sm-12 text-center'>
                        <button class='btn cta make-note'>Write a Graddy now*</button>
                    </div>
                    <div class='footnote'>*Kharma is a b*, my friend...</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>