<div class="modal fade" id="home-modal" tabindex="-1" role="dialog" aria-labelledby="homeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="home-modal-title">Project Graditude</h1>
        <h2>Because life is great.</h2>
        <div class="modal-body">
            <div class='container'>
                <div class="row">
                <div class='col-sm-6 main-modal'>
                        <h3>Our Mission</h3>
                   <p>We want Gratitude to become a positive force in the world. Gratitude is a choice. Instead of taking things for granted, let’s open our eyes and see the hidden gifts of life. The song that made you dance this summer, the stranger who helped you find your way, the dog that always greets you with his shaking tale, the sun that may warm your hands right now. Lets unlock the Gratitude that we keep in our hearts and share with the world. Let’s choose Gratitude, now.</p>
                </div>
                <div class='col-sm-6 main-modal'>
                    <div class='counter pull-right'>
                        <div class='num-notes'>
                            1,000,000 <br> graddy's sent.
                    </div>
                        <div class='time-left'>
                            Started: Dec 21, 2014 <br>
                            Ends in: 12 days : 6 hours
                            </div>
                        </div>
                <h3>What you can do now</h3>
                <p>On Jan 1st, 2015 we want to release at least 1,000,000 Graddy’s into the world. Graddy’s are thank you notes to the hidden gifts in life that we often take for granted. Think about one of the many small gifts that you have received during the year. Send a Graddy, now. <br>…Let’s greet the New Year with a wave of Gratitude!</p>
                    </div>
                </div>
                <div class='col-sm-12 text-center'>
                    <button class='btn cta'>Start</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>