<div class="modal fade" id="home-modal" tabindex="-1" role="dialog" aria-labelledby="homeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="home-modal-title">Project Graditude</h1>
        <h3>Because life is a gift.</h3>
        <div class="counter">
            <div class="count">
                100,000,000,000<br>
                Graddy's sent
            </div>
            <div class="started">
                Started: Dec. 24th<br>
                Ends in: 12 days, 5 hours
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <h3>Our Mission</h3>
                        <p>We want Gratitude to become a positive force in the world. Gratitude is a choice. Instead of taking things for granted, let’s open our eyes and see the hidden gifts of life. The song that made you dance this summer, the stranger who helped you find your way, the dog that always greets you with his shaking tale, the sun that may warm your hands right now. Lets unlock the Gratitude that we keep in our hearts and share with the world. Let’s choose Gratitude, now.
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <h3>What you can do</h3>
                        <div class="item">
                            <img src="http://www.wpclipart.com/page_frames/background_pages/page_backgrounds_3/note_torn_from_pad_page.png">
                            <div class='note-example'>
                                <p>Spread some love!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 cta">
                    <button class='btn btn-default make-note'>Make a Note Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>