<% content_for :modal_header do %>
    <h1 >Project Gratitude</h1>
    <h3>Because life is a <font color='red'>f*</font>ucking miracle.</h3>
    <hr>
<% end %>

<% content_for :modal_body do %>
    <div class='col-sm-6'>
        <h2>Our Mission</h2>
        <p>We want Gratitude to become a positive force in the world.</p>
        <p>Instead of taking things for granted, let’s open our eyes and see the hidden gifts of life.</p>
        <p> Lets unlock the Gratitude that we keep in our hearts and share it with the world.</p>
    </div>
    <div class='col-sm-6'>
        <h2>What you can do now</h2>
        <p>On January 1, 2015 we want to release 1 million Graddy’s into the world. </p>
        <p><u><font color='red'>Graddy’s are anonymous thank you notes to the hidden gifts in life </font></u>- the pullover that keeps you warm, the sun in your face, a stranger who helped you out, ...</p>
    </div>
    <div class='col-sm-12 text-center'>
        <button class='btn btn-primary make-note'>I got some Graddy for ya</button>
    </div>
<% end %>
