<div class="modal fade" id="show-note-modal" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-body">
        	<ul>
        		
        	</ul>
        </div>
      </div>
    </div>
  </div>
</div>