//===== COLOR SCHEME
// $primary = #000000
// $header = #f1f1f1
// $dark-grey = #999999

$secondary:  #2c3e50;
$primary-font: 'Special Elite', cursive;

//=============_note.html.erb
.single-note-image {
    width: 100%;
}


@mixin transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


body {
    background-image: image-url("square.jpg");
    background-size: 250px 250px;
    overflow-y: scroll;
    font-family: $primary-font;
//    background-size: cover;
//    background-repeat: repeat-y;
//    background-repeat: repeat-x;
}

.hidden {
    display: none;
}

.dropzone {
    text-align: center;
    min-height: 300px;
}


//==== HEADER STYLES
.header-container {
    height: 100px;
    font-family: $primary-font;
    
    #create-new-note {
        background-color: #2c3e50;
        color: white !important;
        transform: rotate(2deg);

        &:hover {
            background-color: white;
            color: black !important;
        }
        .glyphicon {
            margin-right: 4px;
        }
    }

    .settings {
        width: 50px;
        height: 50px;
        color: white;
        background-color: #2c3e50;
        font-size: 1.4em;
        margin-left: 15px;
        transform: rotate(-4deg);
        &:hover {
            background-color: white;
            color: black !important;
        }
    }
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    .content {
        transform: rotate(-1deg);
        position: relative;
        display: inline-block;
        a {
            color: black;
            font-family: $primary-font;
            padding: 10px 15px 5px 15px;
            background-color: white;
            text-decoration: none;
            display: block;
        }
        .pin {
            position: absolute;
            left: -17px;
            top: -30px;
            width: 60px;
            height: auto;
        }
        .root-image {
            h1 {
                font-size: 24px;
                margin: 0 0 5px 0;
            }

            h2 {
                font-size: 18px;
                margin: 0;
            }
            span {
                margin: 0;
                padding: 0;
                color: red;
            }
        }
    }

}

//========== AUTHENTICATION STYLES
.authentication-holder {
    margin-top: 40px;

    .label-small {
        font-size: 11px;
    }

    .authentication-box {
        font-family: $primary-font;
        background-color: white;
        padding: 15px 30px;

        h2 {
            margin-top: 5px;
            font-size: 21px;
        }
    }

    .btn-primary {
        background-color: $secondary;
    }
}

.facebook-login {
    width: 160px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

}

//========== FLASH STYLES
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.modal-content {
    font-family: $primary-font;
    background: rgba(255, 255, 255, 0.9) !important;
    color: black;
}

.modal-header {
    margin: 20px;
}


.modal-body {
    .line {
        width: 3px;
        color: black;
        height: 500px;
    }
    p {
        font-size: 20px;
        width: 80%;
    }
    h2 {
        font-weight: 5;
        color: blue;
    }
    .cta {
        margin-top: 4%;
        height: 60px;
        font-size: 25px;
        background-color: $secondary;
        color: white;
        transition: .5s;
        &:hover {
            color: $secondary;
            background-color: white;
        }
    }
    .counter {
        margin-top: -15%;
        .number {
            font-size: 40px;
        }
    }
    .main-modal {
    }
}


.notes-holder {
    margin-top: 30px;

    @media(min-width: 600px) {
        margin-left: 40px;
    }

    .note-holder {
        min-width: 250px;
        max-width: 320px;
        background-color: white;
        margin-bottom: 45px;
        word-wrap: break-word;
        text-decoration: none;
        color: black;
        padding-top: 10px;

        .note-image {
            border: 10px solid white;
            padding: 0px 10px 0px 10px;

            img {
                width: 100%;
                height: auto;
                background-color: rgba(0, 0, 0, .75);
            }
        }
        .note {
            background-color: white;
            font-size: 16px;
            border-bottom: 1px solid lightgray;
            padding: 0px 20px 10px 20px;

        }

        .note-buttons {
            padding: 10px 20px 5px 20px;

            .twitter {
                padding: 0 5px;
            }

            .facebook {
                position: relative;
                top: -7px;
            }
            
            .glyphicon {
                font-size: 1.4em;
                font-weight: 100;
            }
        }
    }
}

.image-preview {
    height: 200px;
    width: auto;
    @include transition;
}

.note-form {
    text-align: center;
}

textarea{
//    margin-left: 47% !important;
//    font-size: 20px !important;
border: 1px solid black;
}

footer {
    padding-top: 20px;
    margin-top: 10px;
    position: relative;
    bottom: 0;
    height: 100px;
    background: lightgrey;
}

.note-desc {
    margin-top: 5px;
    font-size: 22px;
    word-wrap: break-word;

    @media(min-width: 480px) {
        font-size: 18px;
    }
    @media(min-width: 600px) {
        font-size: 24px;
    }
}
.comment-button {
    background-color: #2c3e50;
    color: white;
    transition: .3s;
    &:hover {
        background-color: white;
        color: #2c3e50 !important;
    }
}

.comments {
    color: #34495e !important;
    h3 {
        color: #34495e !important;
    }
}

.comments-box {

    ul {
        list-style: none;
        padding: 0;
    }
    .comment {
        font-size: 18px;
        margin-top: 5px;
        border-bottom: 1px solid black;
        word-wrap: break-word;
    }
}



//==== TRANSIITONS
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}