//===== COLOR SCHEME
// $primary = #000000
// $header = #f1f1f1
// $dark-grey = #999999

//html {
//  background: image-url("pinboard.jpeg") repeat-y center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}


.item {
  float: left;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}

/* 2 cols + 1 gutter = 100 + 20 + 100 */
.item.width2 { width: 220px; }
.item.height2 { height: 220px; }

@mixin transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


body {
    background-image: image-url("square.jpg");
    background-size: 250px 250px;
//    background-size: cover;
//    background-repeat: repeat-y;
//    background-repeat: repeat-x;
}

.hidden {
    display: none;
}

.dropzone {
    text-align: center;
    min-height: 300px;
}


//.navbar-brand, .navbar-toggle,
//.navbar-nav li a.widen {
//    line-height: 80px;
//    height: 80px;
//    padding-top: 0;
//}

//.navbar-toggle {
//    height: 40px;
//    margin-top: 20px;
//    margin-bottom: 20px;
//    padding: 0 5px !important;
//    z-index: 1;
//}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    .content {
        position: relative;
        display: inline-block;
        a {
            color: black;
            font-family: 'Special Elite', cursive;
            font-size: 24px;
            padding: 10px 15px 5px 15px;
            background-color: white;
            line-height: 100px;
            text-decoration: none;
        }
        .pin {
            position: absolute;
            left: -17px;
            top: -20px;
            width: 60px;
            height: auto;
        }
    }
}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.modal-content {
    font-family: 'Special Elite', cursive;
    background: rgba(255, 255, 255, 0.9) !important;
    color: black;
    margin-left: auto;
    margin-right: auto;
}


.modal-header {
    h1 {
        font-weight: 5;
    }
    h3 {
        margin-top: -6px;
        color: grey;
    }
}

.modal-body {
    .line {
        width: 3px;
        color: black;
        height: 500px;
    }
    p {
        font-size: 20px;
        width: 80%;
    }
    h2 {
        font-weight: 5;
        color: blue;
    }
    .cta {
        margin-top: 4%;
        height: 60px;
        font-size: 25px;
        background-color: #2980b9;
        color: white;
        transition: .5s;
        &:hover {
            color: #2980b9;
            background-color: white;
        }
    }
    .counter {
        margin-top: -15%;
        .number {
            font-size: 40px;
        }
    }
    .main-modal {
    }
}

.masonry {
    min-height: 900px;
    width: 100%;
    margin-top: 20%;
    @media(min-width: 480px) {margin-top: 10%;}
    height: 100%;
}

//.note {
//    font-weight: 400;
//    position: absolute;
//    left: 0;
//    top: 20px;
//    width: 100%;
//    color: white;
//    font-size: 25px;
//}

.notes-holder {
    margin-top: 80px;

    .note-holder {
        max-width: 320px;
        padding: 10px;
        background-color: white;
        margin-bottom: 20px;
        border: 10px solid white;
        word-wrap: break-word;


        .note-image {
            padding: 0 !important;

            img {
                width: 100%;
                height: auto;
                background-color: rgba(0, 0, 0, .75);
            }
        }
        .note {
            background-color: white;
        }
    }
}

.image-preview {
    height: 200px;
    width: auto;
    @include transition;
}

.note-form {
    text-align: center;
}

textarea{
//    margin-left: 47% !important;
//    font-size: 20px !important;
border: 1px solid black;
}

footer {
    padding-top: 20px;
    margin-top: 10px;
    position: relative;
    bottom: 0;
    height: 100px;
    background: lightgrey;
}

.note-desc {
    margin-top: 5px;
    font-size: 22px;
    @media(min-width: 480px) {
        font-size: 25px;
    }
    @media(min-width: 600px) {
        font-size: 30px;
    }
}
.comment-button {
    background-color: #2c3e50;
    color: white;
    transition: .3s;
    &:hover {
        background-color: white;
        color: #2c3e50 !important;
    }
}

.comments {
        color: #34495e !important;
    h3 {
        color: #34495e !important;
    }
}
.comment-form {
    width: 50% !important;
}
.comment {
    font-size: 18px;
    margin-top: 5px;
    border-bottom: 1px solid black;
}