//===== COLOR SCHEME
// $primary = #000000
// $header = #f1f1f1
// $dark-grey = #999999

$secondary:  #2c3e50;
$primary-font: 'Special Elite';
$header-offset: 10px;

//=============_note.html.erb
.single-note-image {
    width: 100%;
}


@mixin transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


body {
    background-image: image-url("square.jpg");
    background-size: 250px 250px;
    overflow-y: scroll;
    font-family: $primary-font;
}

.hidden {
    display: none;
}

.dropzone {
    text-align: center;
    min-height: 300px;
}

.note-pagination-links {
    display: inline-block;
}

//========= CROPPING PAGE STYLES
#crop-pic-modal {
    .crop-header {
        font-size: 22px;
    }

    .crop-pic-holder {
        display: inline-block;
    }

    .btn-primary {
        padding: 5px 30px;
        margin-top: 10px;
    }
}

.crop-holder {
    display: inline-block;
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    position: relative;

    .header {
        display: inline-block;
        background-color: $secondary;
        color: white;
        padding: 5px 10px;
        font-size: 18px;
        position: absolute;
        left: -80px;
        bottom: -4px;
        z-index: 1;
        transform: rotate(20deg);
    }

    .btn-primary {
        padding: 5px 30px;
        margin-top: 10px;
    }
}

//======= BUTTON STYLES
.btn-primary {
    background-color: $secondary;
    border: 1px solid black;
}

//======= INFINITE SCROLLING STYLES
#infscr-loading {
    text-align: center;
    position: fixed;
    bottom: 30px;
    left: 39%;
    z-index: 100;
    width: 300px;
    background: white;
    background: hsla( 0, 0%, 100%, 0.9 );
    padding: 20px;
    color: #222;
    font-size: 15px;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


//==== HEADER STYLES
.header-container {
    height: 100px;
    font-family: $primary-font;
    margin-top: $header-offset;
    
    #create-new-note {
        background-color: #2c3e50;
        color: white !important;
        transform: rotate(-2deg);

        &:hover {
            cursor: pointer;
            background-color: white;
            color: black !important;
        }
        .glyphicon {
            margin-right: 4px;
        }
    }

    .settings {
        width: 50px;
        height: 50px;
        color: white;
        background-color: #2c3e50;
        font-size: 1.4em;
        margin-left: 15px;
        transform: rotate(-4deg);
        &:hover {
            background-color: white;
            color: black !important;
        }
    }

    .navbar-right {
        position:relative;
        overflow: visible;

        .graddy-num {
         position: absolute;
         background-color: white;
         top: 40px;
         padding: 5px 7px 2px 7px;
         left: -50px;
         transform: rotate(9deg);
     }
 }

 #user-holder {
    margin-left: 15px;
    background-color: white;
    padding: 5px;
    transform: rotate(4deg);
    
    #profile-pic-link {
        padding: 0;
        &:hover {
            opacity: 0.9;
        }

        #profile-pic {
          width: 50px;
      }

  }   
  .sign_out {
    color: white;
    background-color: #2c3e50;
    width: 67px;
    padding: 2px 7px;
    font-size: 12px;
    position: absolute;
    right: -31px;
    bottom: -19px;
    transform: rotate(-12deg);
    &:hover {
        background-color: white;
        color: black !important;
    }
}
}
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    margin-top: $header-offset;

    .content {
        transform: rotate(-1deg);
        position: relative;
        display: inline-block;
        a {
            color: black;
            font-family: $primary-font;
            padding: 10px 15px 5px 15px;
            background-color: white;
            text-decoration: none;
            display: block;
        }
        .pin {
            position: absolute;
            left: -17px;
            top: -30px;
            width: 60px;
            height: auto;
        }
        .root-image {
            h1 {
                font-size: 24px;
                margin: 0 0 5px 0;
            }

            h2 {
                font-size: 18px;
                margin: 0;
            }
            span {
                margin: 0;
                padding: 0;
                color: red;
            }
        }
    }

}

//========== AUTHENTICATION STYLES
.authentication-holder {
    margin-top: 40px;

    .label-small {
        font-size: 11px;
    }

    .authentication-box {
        font-family: $primary-font;
        background-color: white;
        padding: 15px 15px;

        h2 {
            margin-top: 5px;
            font-size: 21px;
        }
    }
}

//============= SHOW_NOTE PARTIAL STYLES

.sidebar-social-btns {
    display: inline-block;
    position: absolute;
    right: -68px;
    background-color: white;
    padding: 10px 10px 10px 14px;
    top: 1px;
    max-width: 100px;
    text-align: center;
    background-color: lightgrey;
    transform: rotate(7deg);
}

.facebook {
    margin-bottom: 10px;
}

.facebook-login {
    width: 160px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

}

//========== FLASH STYLES
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

//======== MODALS

.intro-modal {

    .pin-show-note {
        position: absolute;
        height: 100px;
        left: -40px;
        top: -60px;
        transform: rotate(-15deg);
        z-index: 1;
    }

    .modal-content {
        font-family: $primary-font;
        color: black;
        border-radius: 0;
        padding: 20px;
        background-image: image-url('parchment6.png');
//        background-size: 250px 203px;
//        background-size: cover;
        //        background-image: image-url('parchment3.jpg');
        background-size: 250px 250px;
    }

    h2 {
        color: $secondary;
    }
}


//.modal-body {
//    .line {
//        width: 3px;
//        color: black;
//        height: 500px;
//    }
//    p {
//        font-size: 20px;
//        width: 80%;
//    }
//    h2 {
//        font-weight: 5;
//        color: blue;
//    }
//    .cta {
//        margin-top: 4%;
//        height: 60px;
//        font-size: 25px;
//        background-color: $secondary;
//        color: white;
//        transition: .5s;
//        &:hover {
//            color: $secondary;
//            background-color: white;
//        }
//    }
//    .counter {
//        margin-top: -15%;
//        .number {
//            font-size: 40px;
//        }
//    }
//}


.notes-holder {
    margin-top: 30px;
    position: relative;

    @media(min-width: 600px) {
        margin-left: 40px;
    }

    .note-holder-link {
        margin-bottom: 45px;
        webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        webkit-transform: translate3d(0,0,0);
    }

    .note-holder {
        min-width: 250px;
        max-width: 320px;
        //background-color: white;
        word-wrap: break-word;
        text-decoration: none;
        color: black;
        padding-top: 10px;

        .note-image {
            //border: 10px solid white;
//            border-image: image-url('parchment6.png') 30 30 repeat;
            border-image-source: image-url('parchment3.jpg');
            border-image-width: 100%;
            border-image-repeat: repeat;
            padding: 10px;

            img {
                width: 100%;
                height: auto;
                background-color: rgba(0, 0, 0, .75);
            }
        }
        .note {
            background-image: image-url('parchment3.jpg');
            font-size: 16px;
            //border-bottom: 1px solid lightgray;
            padding: 0px 20px 10px 20px;

        }

        .note-buttons {
            padding: 10px 20px 5px 20px;

            .twitter {
                padding: 0 5px;
            }

            .facebook {
                position: relative;
                top: -7px;
            }
            
            .glyphicon {
                font-size: 1.4em;
                font-weight: 100;
            }
        }
    }
}

.image-preview {
    height: 200px;
    width: auto;
    @include transition;
}

.note-form {
    text-align: center;
}

textarea{
    border: 1px solid black;
}

footer {
    padding-top: 20px;
    margin-top: 10px;
    position: relative;
    bottom: 0;
    height: 100px;
    background: lightgrey;
}

.note-desc {
    margin-top: 5px;
    font-size: 22px;
    word-wrap: break-word;

    @media(min-width: 480px) {
        font-size: 18px;
    }
    @media(min-width: 600px) {
        font-size: 24px;
    }
}
.comment-button {
    background-color: #2c3e50;
    color: white;
    transition: .3s;
    &:hover {
        background-color: white;
        color: #2c3e50 !important;
    }
}

.comments {
    color: #34495e !important;
    h3 {
        color: #34495e !important;
    }
}

.comments-box {

    ul {
        list-style: none;
        padding: 0;
    }
    .comment {
        font-size: 18px;
        margin-top: 5px;
        border-bottom: 1px solid black;
        word-wrap: break-word;
    }
}



//==== TRANSIITONS
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}